*{
   /*border:1px solid black;*/
   box-sizing: border-box;
}

div
{
	border:1px solid black;
}

.header
{
	width:100%;
	height:50px;
	position:relative;
	top:0px;
	left:0px;
}

.Footer
{
	position:relative;
	width:100%;
	height:30px;

}

@media (max-width: 600px) {
   .Menu, .Content {
    width: 100%;
    height: auto;
	position:relative;
  }
}
