
.header
{
	width:100%;
	height:50px;
	position:relative;
	top:0px;
	left:0px;
	border:1px solid black;
}

.Footer
{
	position:relative;
	width:100%;
	height:30px;
	border:1px solid black;
}

@media (max-width: 600px) {
   .Menu, .Content {
    width: 100%;
    height: auto;
	position:relative;
  }
}
