<html>
<head>
	<title>Class Example</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/style.css" />
	<?php
		if (basename($_SERVER['PHP_SELF']) == 'index.php' ||
		basename($_SERVER['PHP_SELF']) == 'register.php')
			echo '<link rel="stylesheet" href="css/login.css" />';
		else
			echo '<link rel="stylesheet" href="css/page.css" />';
	?>
</head>
<body>

<div class="header" style="text-align: center;color: white; background-color: #23488E; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Times, serif; font-size: 10mm;">IASBS-Chat-Room</div>
<div class="Section">