<div class="Content" style="background-color:#23488E;  border-width: 0.4em; border-color:#062358 ;">
    <div class="loginContainer" style="border-width: 0em;">
        <span style="color: white;"><?php echo $Message; ?></span>
        <form action="register.php" method="post">
            <div  >
                <label style="font-family:verdana; color: white">&nbsp;Name</label>
                <input type="text" placeholder="Enter Name" name="uiName" style="font-family:verdana;" value="<?php echo $uiName_cv; ?>">

                <label style="font-family:verdana; color: white">&nbsp;Family</label>
                <input type="text" placeholder="Enter family" name="uiFamily" style="font-family:verdana;" value="<?php echo $uiFamily_cv; ?>">

                <label style="font-family:verdana; color: white">&nbsp;Username</label>
                <input type="text" placeholder="Enter Username" name="uiUsername" style="font-family:verdana;"  value="<?php echo $uiUsername_cv; ?>">

                <label style="font-family:verdana; color: white">&nbsp;Password</label>
                <input type="password" placeholder="Enter Password" name="uiPassword" style="font-family:verdana;">

                <label style="font-family:verdana; color: white">&nbsp;Confirm Password</label>
                <input type="password" placeholder="Confirm Password" name="uiConfirmPassword" style="font-family:verdana;">

                <button type="submit" name="uiRegister" style="background-color: darkorange;font-family:verdana; font-size: larg;">Register</button>
                <button type="button" style="color:white;  background-color:rgba(255, 0, 0, 0.815);font-family:verdana; font-size: larg;"><a href="index.php" style="color: white;">Login</a></button>
                
            </div>
        </form>
    </div>
</div>
