<link rel="stylesheet" href="../css/Page.css">

<script src="js/angular/angular.js"></script>
<script src="js/jquery/jquery.js"></script>
<script src="js/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
<script src="js/userlist.js"></script>
<script src="js/jquery/jquery.min.js"></script>
<script src="js/jquery/jquery-ui.min.js"></script>
<script src="js/angular/angular-resource.js"></script>

<style>
    .Section
{
    position:relative;
    height: 300px;
    border:1px solid black;
}

.Menu
{
    position:absolute;
    left:0px;
    width:30%;
    height:300px;
    border:1px solid black;
}

.Content
{
    position:absolute;
    right:0px;
    width:68%;
    height:200px;
    padding-top: 10px;
}

.form-control {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border: none;
    font-size: 13px !important;
    font-weight: 300;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
}
.form-control:focus, .form-control:active {
    box-shadow: none;
    border: 2px solid rgba(0, 0, 0, 0.8);
}


.pagination {
    width: 100%;
    margin: 10px 0px;
}
.pagination > li
{
    display: inline-block;
}
.pagination > li > a,
.pagination > li > span {
    margin-left: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #656d78;
    border-color: #E5E5E5;
}
.pagination > li > a:hover,
.pagination > li > span:hover {
    color: #222;
}
.pagination > li.active > a,
.pagination > li.active > a:hover {
    background: #1e293d;
    color: #FFF;
    border-color: #1e293d;
}
.pagination.pagination-sm {
    margin: 0px;
    width: auto;
}
.pagination.pagination-sm.push-down-20 {
    margin-bottom: 20px;
}
.pagination.pagination-sm.push-up-20 {
    margin-top: 20px;
}


table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}
table tr:nth-child(odd) {
    background-color: #f1f1f1;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}
</style>

<div class="Content">
    <div ng-app="UsersListApp">
        <input type="text" placeholder="Search..." ng-model="searchData" class="form-control" />
        <!--<input type="text" placeholder="Search on Name" ng-model="searchData.name" class="form-control" />-->
        <div ng-controller="UsersListController">
            <table>
                <tr>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Family</th>
                    <th> </th>
                </tr>

                <tr ng-repeat="r in lst | filter : paginate | filter : searchData">
                    <td><input type="submit" name="sender" value="{{r.username}} " ></td>
                   <!--  <td><a class="width100">{{r.username}}</a></td>-->
                    <td><a class="width100">{{r.name}}</a></td>
                    <td><a class="width100">{{r.family}}</a></td>
                    
                    
                </tr>

            </table>
            <div style="text-align:center" ng-show="showLoader">
                Loading...
            </div>
            <pagination total-items="totalItems" ng-model="currentPage" max-size="5" boundary-links="true" items-per-page="numPerPage" class="pagination-sm">
            </pagination>
            <p>Total number of users: {{totalItems}}</p>

        </div>
    </div>

</div>
